{% extends "temp.html %}



{% block body %}
<div id="page-wrapper">
   <div class="container-fluid">
      <div class="row" style='margin-top:20px'>
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-red">
            <div class="panel-heading">位置1</div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-red">
            <div class="panel-heading">位置2</div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-red">
            <div class="panel-heading">位置3</div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
          <div class="panel panel-red">
            <div class="panel-heading">位置4</div>
          </div>
        </div>
      </div>  <!-- div class="row" style='margin-top:20px' -->
      
      <div class="row">
	    <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                                              监控图-图片占位
            </div>
            <div class="" id='demo1' style='height:400px;'>
            	<img src="/static/images/all_hosts.png" class="">
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
                                             实时监控-数据图占位
            </div>
            <div class="" id='demo2' style='height:400px;'>
              <img src="/static/images/hosts_data.png" class="">
            </div>
          </div>
	    </div>
      </div>
   </div>  <!-- class="container-fluid -->
</div>  <!-- id="page-wrapper" -->
{% end %}