{% extends "temp.html %}



{% block body %}
<div id="page-wrapper">
   <div class="container-fluid">
      <div class="row" style='margin-top:20px'>
        <div>施工中，3秒后返回。</div>

      </div>  <!-- div class="row" style='margin-top:20px' -->
   </div>  <!-- class="container-fluid -->
</div>  <!-- id="page-wrapper" -->

<script type="text/javascript">  
    onload=function(){  
        setInterval(go, 1000);  
    };  
    var x=3; //利用了全局变量来执行  
    function go(){  
    x--;  
        if(x>0){  
          document.getElementById("sp").innerHTML=x;  //每次设置的x的值都不一样了。  
        }else{  
          location.href='/admin';  
        }  
    }  
</script>  
{% end %}